{{#partial "content"}}


    <p>Details:</p>
    <p>Hero Name: </p>
    <p>{{ hero.name }}</p>
    <p>Age: </p>
    <p>{{ hero.age }}</p>
    <h5>Super Power:</h5>
    <p> {{ hero.superPower }}</p>
    <h5>Weakness:</h5>
    <p> {{ hero.weakness }}</p>
    <h4>Squad Allegiance: {{squad.name}}</h4>
    <a href="/">Go back</a>
    <a href="/squads/{{hero.squadId}}/heroes/{{hero.id}}/delete">Delete Hero</a>

    {{/partial}}
{{>layout.hbs}}
